* {
    font-family: 'ABeeZee', sans-serif;
    
}

h1,
.title {
    font-family: 'Chakra Petch', sans-serif;
}


#results{
    padding-left: 3rem;
    width: 25%;
    padding-left: 10rem;
    max-height: 400px;
    overflow-y: scroll;
    visibility: "visible";
    
}

.search-items::-webkit-scrollbar{
    width: 7px;
}
#results::-webkit-scrollbar{
    width: 7px;

}

#results::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 64px rgba(0, 0, 0, 0.3);
}

.card-img-container{
    width: 150px;
    margin-right: 5rem;
}

.card-name {
    cursor: pointer;
    font-weight: 800;
    display: flex;
    align-content: flex-end ;
   
}


#input-get1{
    border: 2px solid gray;
    padding: 1rem 2rem;
    position: relative;
    min-width: 420px;
    
}
/* #header{
    background-color: aqua;
    padding: 8px;
    font-size: 50px;
    text-align: center;
    color: crimson;
}
#find{
     background-color: blue;
     color: aliceblue;
}
.col{
    margin-left: 30px;
    padding-top: 10px;
}
#input-get1{
    background-color: aqua;
}
.info{
    margin-left: 30px;
    padding-top: 10px;
} */

/* .backGround{
      background-attachment: fixed;
      background: url('https://images5.alphacoders.com/884/thumb-1920-884540.jpg') no-repeat center center fixed;
      background-size: 100%; 
      overscroll-behavior-block:inherit;
}  */
/*

.giphys img{
    width: 300px;
}
.giphys{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-flow: wrap;
    padding: 25px;
    flex-direction: column;
    align-content: flex-start;;
}

.p{
    font-size: 20px;
    color: darkgreen;
    flex-wrap: wrap;
}
.p1{
    font-size: 20px;
    color: darkblue;
} /*


